<!-- <p>
  Selected App Platform {{platformId}}
</p> -->

<!-- Platform Selected -->
<!-- <div class="jumbotron" style="padding: 0.0">
  <img src="../../assets/images/ios.jpg" style="width: 100%; height: 100%;">
</div> -->



<!-- Tab Menu -->

<div class="container" style="padding-top: 4%;">

  <ul class="nav nav-tabs">

    <li class="nav-item" *ngFor="let types of appTypes; first as f">
      <div *ngIf="f; then thenBlock; else elseBlock" ></div>

      <ng-template #thenBlock>
        <a class="nav-link active" data-toggle="tab" (click)="onSelected_Type(types.id)">{{types.name}}</a>
      </ng-template>

      <ng-template #elseBlock>
        <a class="nav-link" data-toggle="tab" (click)="onSelected_Type(types.id)">{{types.name}}</a>
      </ng-template>
    </li>
  </ul>

  <!-- Tab Contents -->
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active">

      <div style="margin-top: 20px">
          <div class="row">
              <div class="col-sm-4" *ngFor="let app of storeApps">

                  <div class="card mb-3 bg-secondary">
                      <h3 class="card-header">{{app.title}}</h3>
                      <div class="card-body bg-dark">
                        <h5 class="card-title">Special title treatment</h5>
                        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                      </div>
                      <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
                      <div class="card-body bg-dark">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>

                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>

                      <div class="card-body bg-dark">
                        <a href="#" class="card-link card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                      <div class="card-footer text-muted">
                        2 days ago
                      </div>
                    </div>

              </div>
            </div>
      </div>

    </div>
      </div>
 </div>
