
<!-- Navigation -->

<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">AppBazar</a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Types</a>

              <!-- DropDown Menu -->
              <div class="dropdown-menu bg-secondary" aria-labelledby="dropdownId">
                <button class="dropdown-item" (click)="onSelect_Nav(platform)" *ngFor="let platform of platforms">{{platform.title}}</button>
              </div>

            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>

<!-- Crousal in Jumbotron -->



  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../assets/images/slider1.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Rent and Buy </h5>
          <p>Get your own app at affordable prices</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="../assets/images/slider2.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Cross-Platform</h5>
          <p>Explore the wide range of apps available for nearly all platforms</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="../assets/images/slider3.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Digitalise your work</h5>
          <p>Use apps to analyse and solve your problems of any level</p>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Platforms -->
  <div class="container" id="platformApps">

    <div style="margin: 10%" >
    <div class="col" >
      <h2 style="text-align: center">Platforms</h2>
      <h5 style="text-align: center">Choose the correct platform for your buisness app</h5>
    </div>
  </div>

    <div class="row">

      <div class="col-md-4 availablePlatforms">
        <div class="zoom">
            <img src="../assets/images/android.png" (click)="onSelect_Platform(1)">
        </div>
      </div>

      <div class="col-md-4 availablePlatforms">
          <div class="zoom">
          <img src="../assets/images/ios.png" (click)="onSelect_Platform(2)">
        </div>
      </div>

      <div class="col-md-4 availablePlatforms">
          <div class="zoom">
        <img src="../assets/images/hybrid.png" (click)="onSelect_Platform(3)">
      </div>
    </div>

    </div>

  </div>

  <!-- ############################################################################################################# -->
  <!-- ############################################# Footer ######################################################## -->
  <!-- ############################################################################################################# -->
<footer>

  <div class="footer">
    <div style="padding: 25px 50px 75px 100px;">

      <div class="row">

        <div class="col-sm-6">
            <ul class="address-list" >
                <li>
                  <div class="row">
                    <span class="dot">
                          <i class="fas fa-map-marker-alt fa-2x icons"></i>
                    </span>
                    <div class="col">
                        <h5 >21 Revolution Street</h5>
                        <h4>Paris, France</h4>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="row">
                    <span class="dot">
                        <i class="fas fa-phone fa-2x icons" style="transform: rotate(90deg)"></i>
                    </span>
                    <h4 >+1 555 123456</h4>
                  </div>
                </li>

                  <li>
                    <div class="row" >
                      <span class="dot">
                          <i class="fas fa-envelope fa-2x icons"></i>
                      </span>
                      <h4 style="color: #5887cf">support@company.com</h4>
                    </div>
                  </li>
              </ul>
        </div>


        <div class="col-sm-6">
          <div class="about-us">
            <h4 class="footer-text" style="text-align: left">About Us</h4>
              <p>
                  The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
              </p>
            </div>

            <div class="row">

              <span class="square">
                  <i class="fab fa-facebook-f fa-2x icons"></i>
              </span>

              <span class="square">
                  <i class="fab fa-twitter fa-2x icons"></i>
              </span>

              <span class="square">
                  <i class="fab fa-linkedin-in fa-2x icons"></i>
              </span>
              <span class="square">
                  <i class="fab fa-github fa-2x icons"></i>
              </span>
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>
