
#platformApps{
  margin-top: 50px;
  margin-bottom: 50px
}

.footer{
  text-align: center;
  background-color: #323840;
}

.footer-bold{
  color: #C8DEFF;
  font-weight: 600;
  font-family: 'Segoe UI'
}

.dot {
  height: 60px;
  width: 60px;
  background-color: #3b4144b8;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  padding: 2%
}

.square{
  height: 50px;
  width:  50px;
  background-color: #3b4144b8;
  border-radius: 15%;
  margin: 15px;
  padding: 1.5%
}

.address-list{
  list-style: none;
  margin-top: 5px
}

.address-list > li {
  margin-top: 10px;
  align-self: auto;
}

.address-list > li > div {
  align-items: center;
  margin-top: 15px
}

.address-list > li > div >h4 {
  color: white;
  font-weight: 700;
  text-align: left;
  margin-left: 10px
}

.address-list > li > div >div >h4 {
  color: white;
  font-weight: 700;
  text-align: left
}

.address-list > li > div >div >h5 {
  color: white;
  font-weight: 500;
  text-align: left
}

.about-us{
  text-align: left;
  color: white
}

.icons{
  color: white;
}

.availablePlatforms{
  width: 70%;
  height: 70%;
}

.zoom {
  padding: 5px;
  transition: transform .2s;
  width: 30%;
  height: 30%x;
  /* margin: 0 auto; */
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2);
}
